.TodoItem {
  position: relative;
  width: 50%;
  height: 80px;
  min-width: 320px;
  background: linear-gradient(207.8deg, #1d1c20 16.69%, #920ef7 100%);
  color: white;
  border-radius: 25px;
}

  .TodoItem-p {
    margin: 24px 24px 24px 24px;
    font-size: 2.0rem;
    line-height: 2.1rem;
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
  }
  .TodoItem-p--completed {
    text-decoration: line-through;
  }
  
  