.TodoCounter{
    position: relative;
    min-width: 320px;
    background: linear-gradient(207.8deg, #1d1c20 16.69%, #920ef7 100%);
    text-align: center;
    font-size: 2.4rem;
    color: white; 
    align-items: center;
    padding: 10px;
}

.TodoCounter span{
    font-weight: bold;
}

.TodoCounter--loading{
    opacity: 25%;
}